.message_wrapper {
    padding: 0 10px;

    .message {
        display: inline-block;
        max-width: 50%;
        padding: 5px;
        border-radius: 10px;
        color: rgba(255, 255, 255, 0.8);
        font-weight: 400;
        text-align: left;
        overflow-wrap: break-word;
    }
    .message.me {
        background-color: #08AEEA;
        background-image: linear-gradient(120deg, #08ea81 0%, #049b29 100%);
        
    }
    .message.friend {
        background-color: #74EBD5;
        background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

    }
}

.message_wrapper.me {
    text-align: right;
}
.message_wrapper.friend {
    text-align: left;
}