.side-menu {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 25%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper-searchbar {
        padding: 10px;

        .search-bar {
            background-color: rgba(0, 0, 0, 0.2);
            border: none;
            padding: 10px;
            border-radius: 10px;
            color: rgba(255, 255, 255, 0.7);
    
            &:focus {
                border: none;
                outline-style: none;
            }
            &::placeholder {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }

    

    .btn-logout {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: none;
        font-weight: 600;
        font-size: 0.9em;
        color: rgba(153, 8, 8, 0.63);
        

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

@media screen and (max-width: 640px) {
    .side-menu {
            position: absolute;
            left: -34%;
            width: 35%;
            height: calc(100% - 20px);
            z-index: 2;
        .wrapper-searchbar {
    
            .search-bar {
                
            }
        }
    }
    
  }